<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Accounts</title>
</head>
<body>
    <h1>Admin Accounts</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>PASS</th>
            </tr>
        </thead>
        <tbody>
            <% admins.forEach(admin => { %>
                <tr>
                    <td><%= admin.id %></td>
                    <td><%= admin.password %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <button onclick="window.location.href='/logged'">Go to Logged Page</button>
    <button onclick="window.location.href='/add'">ADD User</button>
</body>
</html>
